
:root {
    --feng-primary-brand: #4D5AE5;
    --feng-pressed-state: #404BBF;
    --feng-text: #434455;
    --feng-dark: #2E2F42;
    --feng-accent: #E7E9FC;
    --feng-light: #F4F4FD;
    --feng-subtle-text: #8E8F99;
    --feng-modal-background: #FCFCFC;
    --feng-white: #fff;
    --feng-default-gap: 24px;
}

.hide {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--feng-text);
    line-height: 1.5;
}

a {
    text-decoration: none;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
    color: var(--feng-primary-brand);
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header, header .container, ul {
    display: flex;
}

.container {
    width: 100%;
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1128px) {
  .container {
      max-width: 1128px;
      position: relative;
      padding-left: 0;
      padding-right: 0;
  }
}

/* HEADER */

header {
    padding: 16px;
    align-items: center;
    border-bottom: 1px solid var(--feng-accent);
}

@media only screen and (min-width: 768px) {
   header {
    padding: 0;
   }
}

nav ul,
address ul {
    gap: 40px;
}

/* logo */

.logo {
    width: 100%;
    padding-right: 76px;
    line-height: 1.1666;
    font-size: 18px;
    font-family: Raleway;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .logo {
        width: auto;
    }
}

.logo span:first-child {
    color: var(--feng-primary-brand);
}

.logo span:last-child {
    color: var(--feng-dark);
}

/* nav */

nav a {
    padding: 24px 0;
    font-weight: 500;
    display: flex;
    position: relative;
    color: var(--feng-dark);
}

nav a.current {
    color: var(--feng-pressed-state);
}

nav a.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--feng-pressed-state);
}

@media only screen and (max-width: 767px) {
   header nav ul,
   header address {
    display: none;
   }
}

/* mobile menu */

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    stroke: var(--feng-pressed-state);
  }

  .menu-toggle svg {
    stroke: var(--feng-dark);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

/* address */

address {
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    position: absolute;
}

address a {
    padding: 24px 0;
    font-style: normal;
    color: var(--feng-text);
}

/* BODY */

/* main */

section {
    padding: 96px 0;
}

@media only screen and (min-width: 1128px) {
    section {
        padding: 120px 0;
    }
}

button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--feng-light);
    border: 1px solid var(--feng-accent);
    border-radius: 4px;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter button:hover,
.filter button:focus,
.efective-solutions button,
footer button,
.backdrop .btn-send {
    color: var(--feng-white);
    background-color: var(--feng-pressed-state);
    border-color: var(--feng-pressed-state);
}

.filter button:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

/* homepage */

.container > h2 {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.111;
}

ul.social-icons {
    gap: var(--feng-default-gap);
}

ul.social-icons li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--feng-primary-brand);
}

ul.social-icons li a:hover,
ul.social-icons li a:focus {
    background-color: var(--feng-pressed-state);
}

ul.social-icons svg {
    fill: var(--feng-light);
}

.efective-solutions {
    max-width: 1440px;
    margin: 0 auto;
    padding: 112px 0;
    color: var(--feng-white);
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.efective-solutions h1 {
    max-width: 320px;
    margin: 0 auto 72px auto;
    font-size: 36px;
    line-height: 1.111;
}

@media only screen and (min-width: 1128px) {
    .efective-solutions {
        padding: 188px 0;
    }
    .efective-solutions h1 {
        max-width: 496px;
        margin: 0 auto 48px auto;
        font-size: 56px;
        line-height: 1.0715;
    }
}

.efective-solutions button:hover,
.efective-solutions button:focus,
footer button:hover,
footer button:focus,
.backdrop .btn-send:hover,
.backdrop .btn-send:focus {
    color: initial;
    background-color: var(--feng-light);
    border: 1px solid var(--feng-accent);
}

.our-products {
    display: none;
}

@media only screen and (min-width: 1128px) {
   .our-products {
        display: block;
   }
}

.our-values-icon {
    display: none;
}

@media only screen and (min-width: 1128px) {
    .our-values {
        padding-bottom: 0;
    }
    .our-values-icon {
        display: block;
        margin-bottom: 8px;
        padding: 24px 100px;
        text-align: center;
        border-radius: 4px;
        background-color: var(--feng-light);
    }
}

.our-values ul li {
    max-width: 100%;
}

.our-values h3 {
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .our-values ul li {
        max-width: 356px;
    }
    .our-values h3 {
        text-align: left;
    }
}

@media only screen and (min-width: 1128px) {
    .our-values ul li {
        max-width: 254px;
    }
    .our-values h3 {
        font-size: 20px;
        line-height: 1.2;
    }
}

.our-team {
    background-color: var(--feng-light);
}

.our-team li {
    border-radius: 0 0 4px 4px;
    background-color: var(--feng-white);
    box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08);
}

.our-team li,
.news li {
    line-height: 0;
}

.our-team .item-info,
.news .item-info {
    padding: 32px 0;
}

.our-team h3,
.news h2 {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
}

.our-team p,
.news p {
    line-height: initial;
}

.our-team p {
    margin-bottom: 8px;
}

/* portfolio */

.portfolio {
    padding-top: 96px;
}

.filter {
    margin-bottom: 72px;
    gap: var(--feng-default-gap);
    justify-content: center;
}

.list-wrap {
    flex-wrap: wrap;
    gap: var(--feng-default-gap);
    justify-content: center;
}

.news li {
    border: 1px solid var(--feng-accent);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.news .item-img {
    position: relative;
    overflow: hidden;
    display: flex;
}

.news .item-img .overlay {
    position: absolute;
    display: flex;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    color: var(--feng-white);
    background-color: var(--feng-primary-brand);
}

.news li a:hover,
.news li a:focus {
    box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08);
}

.news li a:hover .item-img .overlay,
.news li a:focus .item-img .overlay {
    transform: translateY(0);
}

.news li img {
    margin: -1px -1px 0 -1px;
}

.news li h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--feng-dark);
}

.news li p {
    font-weight: 400;
}

.news li h2,
.news li p {
    padding: 0 16px;
    color: var(--feng-text);
}

/* customers */

.customers ul {
    gap: 16px;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    .customers ul {
        gap: var(--feng-default-gap);
    }
    .customers ul li a {
        max-width: 168px;
    }
}

.customers ul li a {
    padding: 16px 32px;
    display: flex;
    text-align: center;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: 1px solid var(--feng-subtle-text);
}

.customers ul li a:hover,
.customers ul li a:focus {
    border-color: var(--feng-pressed-state);
}

.customers svg {
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--feng-subtle-text);
}

.customers ul li a:hover svg,
.customers ul li a:focus svg {
    fill: var(--feng-pressed-state);
}

/* modal */

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(var(--feng-dark), 0.4);
    backdrop-filter: blur(2px);
}

.backdrop .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--feng-modal-background);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.backdrop .btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop p {
    margin-bottom: 16px;
}

.backdrop .input-wrapper {
    margin-bottom: 8px;
}

.backdrop .textarea-wrapper {
    margin-bottom: 16px;
}

.backdrop .input-wrapper label,
.backdrop .textarea-wrapper label,
.backdrop .field textarea,
.backdrop .person-agreement-wrapper label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.166;
    color: var(--feng-subtle-text);
}

.backdrop .field {
    margin-top: 4px;
    position: relative;
}

.backdrop .field input,
.backdrop .field textarea {
    width: 100%;
    padding: 8px 38px;
    border-radius: 4px;
    border: 1px solid var(--feng-dark);
    outline: transparent;
    color: var(--feng-dark);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .field textarea {
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.backdrop .field textarea::placeholder {
    color: var(--feng-dark);
}

.backdrop .field input:focus,
.backdrop .field textarea:focus {
    border-color: var(--feng-primary-brand);
}

.backdrop .field svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .field input:focus + svg {
    fill: var(--feng-primary-brand);
}

.backdrop .person-agreement-wrapper {
    margin-bottom: 24px;
}

.backdrop .person-agreement-wrapper .person-agreement-checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid var(--feng-dark);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.backdrop .person-agreement-wrapper input + label .person-agreement-checkbox {
    fill: none;
}

.backdrop .person-agreement-wrapper input[type="checkbox"]:checked + label .person-agreement-checkbox {
    fill: var(--feng-light);
    border-color: var(--feng-pressed-state);
    background-color: var(--feng-pressed-state);
}

.backdrop .person-agreement-wrapper a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.backdrop .btn-send {
    padding: 16px 32px;
}

/* footer */

footer {
    padding: 96px 0;
    color: var(--feng-light);
    background-color: var(--feng-dark);
}

footer .container > ul {
    gap: 72px;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1128px) {
    footer {
        padding: 100px 0;
    }
    footer .container > ul {
        gap: 120px;
        flex-wrap: nowrap;
    }
}

footer .container > ul li:first-child {
    max-width: 100%;
}

footer .logo {
    margin-bottom: 16px;
    padding: 0;
    justify-content: center;
}

footer .social {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    footer .container > ul li:first-child {
        max-width: 264px;
    }
    footer .social {
        width: auto;
    }
    footer .logo {
        justify-content: left;
    }
}

footer .logo span:last-child {
    color: var(--feng-light);
}

footer .title {
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    footer .title {
        text-align: left;
    }
}

footer .social ul {
    gap: 16px;
}

footer .subscribe {
    width: 100%;
}

footer .subscribe form {
    display: flex;
    align-items: end;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

footer .subscribe label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

@media only screen and (min-width: 768px) {
  footer .subscribe form {
    flex-wrap: nowrap;
    justify-content: left;
  }
  footer .subscribe label {
    text-align: left;
  }
}

footer .subscribe input {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    color: var(--feng-white);
    font-family: inherit;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--feng-white);
}

footer .subscribe input:hover::placeholder,
footer .subscribe input:focus::placeholder {
    color: var(--feng-white);
}

footer .subscribe button {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
}

footer .subscribe button svg {
    fill: var(--feng-white);
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

footer .subscribe button:hover svg,
footer .subscribe button:focus svg {
    fill: var(--feng-text);
}